version: '3.8'

services:
  web:
    build: .
    container_name: image_forward_app
    ports:
      - "46000:46000"
    env_file:
      - .env
    volumes:
      # 图片存储目录
      - ./picture:/app/picture
      # 背景图片目录
      - ./background:/app/background
      # API 端点配置文件
      - ./config.json:/app/config.json
    restart: unless-stopped
